<%= stylesheet_link_tag 'generation', media: 'all' %>

<div class="container_main">
  <h1>New Book</h1>

  <%= form_with model: @book do |f| %>
    <div class="div_input">
      <%= f.label "Title: "%>
      <%= f.text_field :title, class: "input_text_field", placeholder: "Enter the book title", autofocus: true ,required: true%>
    </div>

    <div class="submit">
      <%= f.submit "Create", class: "div_button"%>
    </div>

  <% end %>

  <%= link_to "Back", books_path,  class: "div_button div_button_position" %>
</div>